/*body{
    margin: 0px;
}*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    width : 100%;
    height: 100vh;
    border: 5px solid black;
    background-color: gray;
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
  /*  grid-template-rows: 100px 1fr  1fr 100px;*/

    
}
.header{
  border: 3px solid black;
  background-image: linear-gradient(to bottom right,rgba(14, 14, 178, 0.915),40%,rgba(73, 73, 211, 0.351));
  grid-column: 1/4;
  grid-row : 1/2;
  text-align: center;
  padding: 20px;
  
}
.aside{
   border: 3px solid black;
   grid-column: 1/2; 
   grid-row: 2/4;
   text-align: center;
   background-image: linear-gradient(to bottom right, rgba(173, 216, 230, 0.773), rgba(173, 216, 230, 0.953));
   display: flex;
   justify-content: center;
   align-items: center;
}
.content1{
    border: 3px solid black;
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, blue, lightblue);
}
.content2{
    border: 3px solid black;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, blue, 60%, lightblue);
}
.content3{
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, blue, 70%, lightblue);
}
.footer{
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    grid-column: 1/4;
    background-image: linear-gradient(to bottom right, rgb(131, 49, 131),40%,rgb(73, 73, 211));
}
.container{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    display: grid;
    border: 5px solid black;
    background-color: rgba(71, 61, 139, 0.679);
    gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
  /*  grid-template-rows: 100px  200px,100px ;*/
    

}
.item{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}
.item1{
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/4;
}
.item2{
    background-color: lightgreen;
    grid-column: 2/4;

}
.item3{
    background-color: rgb(234, 13, 13);
    grid-column: 4/5;
}
.item4{
    background-color:#fbb22f ;
}
.item5{
    background-color: rgb(234, 13, 13);
}
.item6{
    grid-row: 2/4;
    background-color: lightgreen;
    grid-column: 4/5;
}
.item8{
    background-color:#fbb22f ;
}
.item7{
    background-color: rgb(234, 13, 13);
}
.bg-container{
    margin-top: 60px;
    display: grid;
    width: 100%;
    height: 100vh;
    border: 5px solid black;
    background-color: rgba(3, 3, 63, 0.796);
    gap: 10px;
    padding: 15px;
    font-size: 1.5rem;
    grid-template-columns: 150px 150px 1fr 150px 150px;
    /*grid-template-rows: 60px 150px,60px;*/
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: black;

    
}
.text{
    transform: rotate(-45deg);
    color: black;
    background-color: white;
    padding: 6px;
}
.box1{
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: linear-gradient(to left bottom, rgba(173, 216, 230, 0.714),40%,rgba(238, 130, 238, 0.549))
}
.box2{
    grid-row: 3/5;
    grid-column: 3/4;
    background-image:linear-gradient(to right,rgba(173, 216, 230, 0.729), 40%, rgba(238, 130, 238, 0.553)) ;
}
.box3{
    grid-column: 4/6;
    grid-row: 1/2;
    background-image: linear-gradient(to right, lightblue, rgba(173, 216, 230, 0.353));
}
.box4{
    grid-column: 4/6;
    grid-row: 2/3;
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.56), rgb(173, 216, 230));
}
.box8{
   grid-column: 1/2;
   background-image: linear-gradient(to right, rgba(255, 182, 193, 0.422),lightpink);

}
.box5, .box6, .box7, .box9, .box10, .box11, .box12, .box13, .box14{

background-image: linear-gradient(to right, rgba(255, 182, 193, 0.422),lightpink);
}
.box9{
    grid-row: 3/4;
    grid-column: 2/3;
}
.box10{
    grid-row: 4/5;
    grid-column:2/3;
}
.box11{
    grid-column: 4/5;
    grid-row: 3/4;
}
.box12{
    grid-column: 5/6;
    grid-row: 3/4;
}
@media screen and (max-width: 600px){
    .grid-container, .bg-container, .container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100vh;
        
    }
    .item, .box{
        grid-row: auto;
        grid-column: auto;
    }
    .text{
        font-size: 12px;
    }
    .header, .aside, .content1, .content2, .content3, .footer{
        grid-row: auto;
        grid-column: auto;
    }
    
}
@media screen and (min-width: 640px) and (max-width: 900px) {
    .grid-container, .bg-container, .container{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100vh;
        
    }
    .item, .box{
        grid-row: auto;
        grid-column: auto;
    }
    .text{
        font-size: 16px;
    }
    .header, .aside, .content1, .content2, .content3, .footer{
        grid-row: auto;
        grid-column: auto;
    }
    
}